{% extends "layout.html" %}
{% block body_content %}
	<body bgcolor="#999966">
	<h3><font size="7" color="white">Book Store</font></h3>
	<p><font size="4" color="black">The Best Book Store You Have Come Across!
	Fancy reading a book? Review yours & others collections of books here. <br><br> This page is based on different kinds of book reviews. Users will be either recommedning books or they might just write something about a book <br> which they have probably read or might have heard about. It is a website where people, mainly who love reading, can come and get some recommendations on what book they should read next</font></p><br><br>
	<center><img src="static/book.jpg" alt="Importance of Reading Books!" height="400" width="550"></center>
{% endblock body_content %}





























































<!-- 
height="1000", widht="1500">-->