{% extends "layout.html" %}
{% block body_content %}
	<body bgcolor="#FFFFFF">
	<h3><font size="7" color="black">{{ current_user.first_name }} {{ current_user.last_name }}</font></h3>
	<p><font size="4" color="black">Update your details</font></p>
	<div class="form">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<div class="form-group">
				{{ form.email.label }}
					{{ form.email }}
				{% if form.email.errors %}
					<div class="error">
						{% for error in form.email.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% endif %}
			</div><br>

			<div class="form-group">
				{{ form.first_name.label }}
					{{ form.first_name }}
				{% if form.first_name.errors %}
					<div class="error">
						{% for error in form.first_name.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% endif %}
			</div><br>			

			<div class="form-group">
				{{ form.last_name.label }}
					{{ form.last_name }}
				{% if form.last_name.errors %}
					<div class="error">
						{% for error in form.last_name.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% endif %}
			</div><br>	

			<div class="form-group">
				{{ form.submit }}
			</div>
		</form>
	</div>
	<center><img src="static/account.png" alt="update your details" height="500" width="750"></center>
{% endblock body_content %}