{% extends "layout.html" %}
{% block body_content %}
	<h1>Home Page</h1>
	<p>Welcome to the book store!</p>
	{% for post in posts %}
		<div>
			<h3>{{ post.title }}</h3>
			<span>by <i>{{ post.author.first_name }} {{ post.author.last_name }}</i></span>
			<span>on the <i>{{ post.date_posted }}</i></span>
			<p> {{ post.content }}</p>
			<form method="POST" action=" ./update">
				<input type="hidden" value="{{post.title}}" name="oldtitle">
				<input type ="text" value="{{post.title}}" name="newtitle">
				<input type="submit" value="Update">
			</form>
		</div>
	{% endfor %}

{% endblock body_content %}