{% extends "layout.html" %}
{% block body_content %}
	<body bgcolor="#547A76">
	<h1><font size="8" color="black">Welcome to your own book store</font></h1>
	<p><font size="4" color="white">Here you can see some amazing books being recommended by everyone!</font></p>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
	body {
	  font-family: Arial;
	}

	* {
	  box-sizing: border-box;
	}

	form.example input[type=text] {
	  padding: 10px;
	  font-size: 17px;
	  border: 1px solid grey;
	  float: left;
	  width: 30%;
	  background: #f1f1f1;
	}

	form.example button {
	  float: left;
	  width: 10%;
	  padding: 10px;
	  background: #32849E;
	  color: white;
	  font-size: 17px;
	  border: 1px solid grey;
	  border-left: none;
	  cursor: pointer;
	}

	form.example button:hover {
	  background: #0b7dda;
	}

	form.example::after {
	  content: "";
	  clear: both;
	  display: table;
	}
	</style>
	</head>
	<body>

	<h2>Search Button</h2>

	<form class="example" action="post" target="_blank" method="get">
	  <input type="text" placeholder="Search.." name="search">
	  <button type="submit"><i class="fa fa-search"></i></button>

	</form>
	{% for post in posts %}
		<div>
			<h2>{{ post.title }}</h2>
			<p> {{ post.content }}</p>
			<span>Recommended on the <i>{{ post.date_posted }}</i></span>
			<form method="POST" action=" ./update">
				<input type="hidden" value="{{post.title}}" name="oldtitle">
				<input type ="text" value="{{post.title}}" name="newtitle">
		
				
				<input type="hidden" value="{{post.content}}" name="oldcontent">
				<input type="text" value="{{post.content}}" name="newcontent">


				<input type="submit" value="Update">
			</form>

			<form method="POST" action="./delete">
				<input type="hidden" value="{{post.title}}" name="title">
				<input type="hidden" value="{{post.content}}" name="content">
				<input type="submit" value="delete">
			</form>
		</div>
	{% endfor %}

{% endblock body_content %}