{% extends "layout.html" %}
{% block body_content %}
	<h1>Welcome to your own book store</h1>
	<p>Here you can see some amazing books being recommended by everyone!</p>
	{% for post in posts %}
		<div>
			<h3>{{ post.title }}</h3>
			<p> {{ post.content }}</p>
			<span>Recomended by <i>{{ current_user.first_name }} {{ current_user.last_name }}</i></span>
			<br>
			<span>on the <i>{{ post.date_posted }}</i></span>
			<form method="POST" action=" ./update">
				<input type="hidden" value="{{post.title}}" name="oldtitle">
				<input type ="text" value="{{post.title}}" name="newtitle">
		
				
				<input type="hidden" value="{{post.content}}" name="oldcontent">
				<input type="text" value="{{post.content}}" name="newcontent">


				<input type="submit" value="Update">
			</form>

			<form method="POST" action="./delete">
				<input type="hidden" value="{{post.title}}" name="title">
				<input type="hidden" value="{{post.content}}" name="content">
				<input type="submit" value="delete">
			</form>
		</div>
	{% endfor %}

{% endblock body_content %}