{% extends "layout.html" %}
{% block body_content %}
<body background="static/manybook.jpg">
	<h3><font size="10" color="white">Login To Your Book Store</font></h3>
	<p style="background-color: #AB4217"><font size="4" color="FCE5E2">Log in to view million of reviews on over thousdands of books and leave a review on a book of your own choice as well</font></p></span>
	<div class="form">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<div class="form-group">
				{{ form.email.label }}
				{{ form.email }}
				{% if form.email.errors %}
					<div class="error">
						{% for error in form.email.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% endif %}
			</div>
			<br>
			<div class="form-group">
				{{ form.password.label }}
				{{ form.password }}
				{% if form.password.errors %}
					<div class="error">
						{% for error in form.password.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% endif %}
			</div>
			<br>

			<div class="form-group">
				{{ form.remember.label }}
				{{ form.remember }}
			</div>
			<div class="form-group">
				{{ form.submit }}
			</div>
		</form>
	</div>

	<!--<center><img src="static/manybook.jpg" alt="Importance of Reading Books!" height="500" width="900"></center> -->
</body>
{% endblock body_content %}