{% extends "layout.html" %}
{% block body_content %}
	<div class="form">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<div class="form-group">
				<br>
				<p>Add the title of the book you wish to recommend and in the content section write the authors name and tell us more about the book</p>
				<br>
				{{ form.title.label }}
				{{ form.title }}
				{% if form.title.errors %}
					<div class="error">
						{% for error in form.title.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% endif %}
			</div>
			<br>
			<div class="form-group">
				{{ form.content.label }}
				{{ form.content }}
				{% if form.content.errors %}
					<div class="error">
						{% for error in form.content.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
				{% endif %}
			</div>
			<br>
			<div class="form-group">
				{{ form.submit }}
			</div>
		</form>
	</div>

	</form>

{% endblock body_content %}