{% extends "layout.html" %}
{% block body_content %}
	<h1>Register Page</h1>
	<p>Need an account? Sign Up!</p>
	<div class="form">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<div class="form-group">
					{{ form.email }}
				{{ form.email.label }}
				{% if form.email.errors %}
					<div class="error">
						{% for error in form.email.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% endif %}
			</div><br>

			<div class="form-group">
					{{ form.password }}
				{{ form.password.label }}
				{% if form.password.errors %}
					<div class="error">
						{% for error in form.password.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% endif %}
			</div><br>			

			<div class="form-group">
					{{ form.confirm_password }}
				{{ form.confirm_password.label }}
				{% if form.confirm_password.errors %}
					<div class="error">
						{% for error in form.confirm_password.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% endif %}
			</div><br>

			<div class="form-group">
				{{ form.submit }}
			</div>
		</form>
	</div>

{% endblock body_content %}